*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --ff--py: "Source San Pro", sans-serif;
  --ff--sy: "Source San Pro", sans-serif;
  --fw--reg: 300;
  --fw--bold: 900;
  --clr--light: #fff;
  --clr--dark: #303030;
  --clr--accent: #16e0bd;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.25em 0.25em 0.75em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-body: 1.125rem;
  }
}

/*General styles*/
body {
  background-color: var(--clr--light);
  background-size: auto;
  color: var(--clr--dark);
  margin: 0;
  font-family: var(--ff--py);
  font-size: var(--fs-body);
  line-height: 1.6;
}
section {
  padding: 5em 2em;
}

strong {
  font-weight: var(--fw--bold);
}
:focus {
  outline: 3px solid var(--clr--accent);
  outline-offset: 3px;
}
.btn_service {
  display: block;
  padding: 0.5em 1.5em;
  background: var(--clr--accent);
  color: var(--clr--dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw--bold);
  transition: transform 200ms ease-in-out;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section_title {
  margin-top: 0.5rem;
  margin-bottom: 0.25em;
}

.section_title--intro {
  font-weight: var(--fw--reg);
}

.section_title--intro strong {
  display: block;
}

.section_subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section_subtitle--intro,
.section_subtitle--about {
  background-color: var(--clr--accent);
  padding: 0.25em 1em;
  font-family: var(--ff--sy);
  margin-bottom: 1em;
}
/* header */
.nav {
  display: none;
}
/*intro section*/

.intro {
  position: relative;
}
.intro_img {
  box-shadow: var(--bs);
}
.section_subtitle--intro {
  display: inline-block;
}
@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro_img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
  .section_subtitle--intro {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% * 1.5em);
  }
}
/* what i do section*/
.my_services {
  background-color: var(--clr--dark);
  background-image: url(img/clement-h.jpg);
  background-size: cover;
  background-blend-mode: darken;
  color: var(--clr--light);
  text-align: center;
}
.services {
  margin-bottom: 1.5em;
}
.section_title--services {
  color: var(--clr--accent);
  position: relative;
}
.section_title--services::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: currentColor;
  opacity: 0.25;
}
.service {
  max-width: 500px;
}
.service_title {
  font-size: var(--fs-h3);
  font-weight: var(--fw--bold);
  margin-bottom: 1.5em;
  color: var(--clr--accent);
}
@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .btn_service {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  }
  .service + .service {
    margin-left: 2em;
  }
}

.about_me {
  max-width: 1000px;
  margin-left: 0 auto;
}
.about_me--img {
  box-shadow: var(--bs);
}
@media (min-width: 600px) {
  .about_me {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: auto span 2;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
    margin-top: 2rem;
    margin-left: 4rem;
  }

  .section_title--about {
    grid-area: title;
  }
  .section_subtitle--about {
    grid-column: 1/-1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }
  .about_me--img {
    grid-area: img;
    z-index: 2;
  }
}

.my_work {
  background-color: var(--clr--dark);
  color: var(--clr--light);
  text-align: center;
}
.section_subtitle--work {
  color: var(--clr--accent);
  font-weight: var(--fw--bold);
  margin-bottom: 1em;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: auto;
  justify-content: center;
}

.portfolio_item {
  background-color: var(--clr--accent);
  overflow: hidden;
  justify-items: center;
}
.portfolio_img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}
.portfolio_item:focus {
  position: relative;
  z-index: 2;
}
.portfolio_img:hover,
.portfolio_item:focus .portfolio_img {
  transform: scale(1.2);
  opacity: 0.7;
}

.footer {
  background-color: #111;
  color: var(--clr--accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}
.footer a {
  color: inherit;
  text-decoration: none;
}
.footer_link {
  font-weight: var(--fw--reg);
  font-size: var(--fs-h3);
}

.footer_link:hover,
.social_list-link:hover {
  opacity: 0.7;
}

.footer_link:hover {
  text-decoration: underline;
}
.social_link {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}
.social_link-item {
  margin: 0 0.5em;
}
.social_link-link {
  padding: 0.5em;
}
.social_list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: none;
}
.social_list-link {
  margin: 0 0.5em;
}

/*Page 2 */

.portfolio_item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio_item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
